@font-face {
    font-family: 'HelveticaNeue';
    src: url('assets/fonts/helvetica_neue/HelveticaNeue-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeue';
    src: url('assets/fonts/helvetica_neue/HelveticaNeue-Bold.otf') format('opentype');
    font-weight: bolder;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeue';
    src: url('assets/fonts/helvetica_neue/HelveticaNeue-Medium.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeue';
    src: url('assets/fonts/helvetica_neue/HelveticaNeue-RegularItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'HelveticaNeue';
    src: url('assets/fonts/helvetica_neue/HelveticaNeue-Thin.otf') format('opentype');
    font-weight: light;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeue';
    src: url('assets/fonts/helvetica_neue/HelveticaNeue-Ultralight.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeue';
    src: url('assets/fonts/helvetica_neue/HelveticaNeue-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Root */
* {
    margin: 0;
    font-family: 'HelveticaNeue';
    font-weight: normal;
    font-style:  normal;
    box-sizing: border-box;
    color: #24283b;
}

/* Body */
body {
    font-size: 1em;
    background-color: #eeeeee;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

/* Navigation bar */
nav {
    padding-top: 3rem;
    justify-content: space-between;
    display: flex;
}
.nav-logo {
    height: 4em;
}
.nav-links {
    margin-right: auto;
    display: flex;
    padding-top: 1.5rem;
    gap: 2rem;
}
.nav-links li {
    list-style: none;
    font-size: .9em;
    font-weight: light;
}
.nav-links a {
    text-decoration: none;
}
.social-links {
    padding-top: 0.6rem;
}
.social-links img {
    filter: invert(1);
    margin-right: 1.5rem;
    height: 2em;
    opacity: 0.95;
    transition: transform 0.3s ease;
}

.social-links img:hover {
    transform: scale(1.2);
}
.hover-bar {
    position: relative;
    display: inline-block;
    padding-bottom: 0.30em;
    text-decoration: none;
}
.hover-bar::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.15em;
    background-color: #24283b;
    transition: width 0.3s ease;
}
.hover-bar:hover::before {
    width: 100%;
}
.hover-bar:active::before {
    right: 0;
    left: auto;
    width: 0;
    transition: width 0.3s ease;
}

/* Home */
    /* Intro */
    .intro {
        margin-top: 25vh;
        /* margin-left: 3rem; */
    }
    .intro h1 {
        font-size: 4rem;
    }
    .intro h2 {
        font-size: 1.5rem;
        font-weight: lighter;
        font-style: italic;
    }
    /* No select */
    .no-select {
        user-select: none;
    }
    /* Quick fade */
    .load-fade {
        animation: loadElement 0.5s;
    }
    @keyframes loadElement {
        from {
            opacity: 0;
            transform: translateY(100%);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    /* Intro slide */
    .intro-slide {
        animation: slideRightText 1s;
    }
    @keyframes slideRightText {
        0% {
            margin-left: -2rem;
            opacity: 0;
        }
        25% {
            opacity: 0;
        }
        100% {
            margin-left: 0;
            opacity: 1;
        }
    }
    /* Intro fade */
    .intro-fade {
        animation: fadeInText 2s;
    }
    @keyframes fadeInText {
        0% {
            opacity: 0;
        }
        60% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    /* Info section */
    .info-section {
        margin-top: 20vh;
        width: 200px;
        height: 150px;
        display: flex;
    }
    .info-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info-box h1 {
        font-weight: bold;
    }
    .vertical-line {
        /* display: flex; */
        border-left: solid 2px #24283b;
        margin: 0 50px;
    }

    /* Footer */
    footer {
        /* margin-top: 20vh; */
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        align-items: center;
    }
    .footer-links img {
        filter: invert(1);
        margin-top: 1rem;
        margin-right: 1rem;
        height: 1.5em;
        opacity: 0.95;
    }
    .divider {
        margin-top: 10rem;
        border-top: 1px solid #000000;
    }

/* Art  */
.art-showcase {
    display: grid;
    grid-template-columns: repeat(3, minmax(0px, 1fr));
    gap: 3rem 0rem;
    margin-top: 3rem;
}
.art-showcase img {
    width: 24rem;
    height: 24rem;
    object-fit:cover;
}
.art-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}