/* Root */
* {
    margin: 0;
    font-family: 'HelveticaNeue-Regular', Arial, sans-serif;
    box-sizing: border-box;
    color: #24283b;
}

/* Body */
body {
    font-size: 1em;
    min-height: 200vh;
    background-color: #eeeeee;
}

/* Navigation bar */
nav {
    padding-top: 3rem;
    padding-left: 2.5%;
    padding-right: 2.5%;
    justify-content: space-between;
    display: flex;
}
.nav-logo {
    height: 4em;
}
.nav-links {
    margin-right: auto;
    display: flex;
    padding-top: 1.5rem;
    gap: 2rem;
}
.nav-links li {
    list-style: none;
    font-size: .9em;
    font-weight: 500;
}
.nav-links a {
    text-decoration: none;
}
.social-links {
    padding-top: 0.6rem;
}
.social-links img {
    filter: invert(1);
    margin-right: 1.5rem;
    height: 2em;
}
.hover-bar {
    position: relative;
    display: inline-block;
    padding-bottom: 0.30em;
    text-decoration: none;
}
.hover-bar::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.15em;
    background-color: #24283b;
    transition: width 0.3s ease;
}
.hover-bar:hover::before {
    width: 100%;
}
.hover-bar:active::before {
    right: 0;
    left: auto;
    width: 0;
    transition: width 0.3s ease;
}

/* Intro */
.intro {
    margin-top: 25vh;
    margin-left: 3rem;
}
.intro h1 {
    font-size: 4rem;
}
.intro h2 {
    font-size: 1.5rem;
    font-weight: lighter;
    font-style: italic;
}
/* No select */
.no-select {
    user-select: none;
}
/* Quick fade */
.load-fade {
    animation: loadElement 0.5s;
}
@keyframes loadElement {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Intro slide */
.intro-slide {
    animation: slideRightText 1s;
}
@keyframes slideRightText {
    0% {
        margin-left: -2rem;
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}
/* Intro fade */
.intro-fade {
    animation: fadeInText 2s;
}
@keyframes fadeInText {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.info-box {
    border-radius: 25px;
    background: #24283b;
    padding: 20px;
    width: 200px;
    height: 150px;
    opacity: .2;
    margin-top: 50%;
  }